body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    background-color: #0081a7;
    color: white;
   
   }
   .t{
       text-shadow: 3px 5px #0b132b;
       text-align: center;
   }
  
   /* nav bar  */
   .nav {
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       background-color:  #fdfcdc;
     }
   
     .ll {
       float: left;
     }
   
    .textl {
       display: block;
       color:#0b132b ;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       font-size: 23px;
     }
   
      /*حق السيرج  */
      .input[type=text]
      {
       float: right;
       padding: 6px;
       border: none;
       margin-top: 8px;
       margin-right: 16px;
       font-size: 17px;
       border: 1px solid #ccc;  
       color:#0b132b ;
     }
    
   /* convas menu */
   .sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #90bcf7;
  }
  

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  

  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
   
   
   
    

   
    
    
     
  
     
     